/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import 'antd/dist/antd.css';
* {
  margin: 0;
  padding: 0;
}
body {
}
a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
  margin: 10px;
}
#root,
section.ant-layout.layout {
  height: 100vh;
}
